body{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #111111;
    color: #eeeeee;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

p{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}