body{
  width: 600px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background-color: #111111;
  color: #eeeeee;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 10px;
}

h1{
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

p{
    font-size: 1.7rem;
}

.point
{
    animation-duration: 1s;
    animation-name: clignote;
    animation-iteration-count: infinite;
    transition: none;
}

@keyframes clignote {
    0%   { opacity:1; }
    40%   {opacity:0; }
    100% { opacity:1; }
  }

  .bar {
    width:  100%;
    height: 1.2rem;
    border-radius: 0.5em;
    position: relative;
    background: #f2f2f2;
    margin-top: 2rem;
    margin-bottom: 4rem;
    box-shadow: 10px 0px 20px 5px rgba(0,128,0,0.5), -10px 0px 20px 5px rgba(255,0,0,0.5);
  }


  .bar .percentage {
    position: relative;
    font-size: 1em;
    background: linear-gradient(to right, red, orange, green);
    background-size: 600px;
    height: 1.2em;
    border: 1px solid white;
    border-radius: 2rem;
  }


.has-tip:before,
.has-tip:after 
    {
    content: "";
    position: absolute;
    opacity: 1;
    }

.has-tip:before 
{
    bottom: -11px;
    right: -6px;
    border: 6px solid;
    border-color: transparent transparent rgb(204, 10, 10) transparent;
    /* transition: opacity 0.1s; */
}

.has-tip:after 
{
    content: attr(data-perc);
    bottom: 0;
    right: 0;
    white-space: nowrap;
    padding: 0.6em 1em;
    border-radius: 2em;
    line-height: 1rem;
    color: #fff;
    background: rgb(204, 10, 9);
    font-size: 0.8rem;
  }

  .has-tip:after {
    transform: translateX(50%) translateY(100%) translateY(10px);
  }